
{% extends "base.html.twig" %}

{% block title %}Currency Table{% endblock %}

{% block body %}
<h1>{{message}}</h1>

<table style="width:100%">
  <tr>
    <th>Currency 2</th>
    <th>Code 2</th>
    <th>Mid 2</th>
  </tr>
    

    {% for item in currency %}
        <tr>
                <td>{{ item.currency }}</td>
                <td>{{ item.code }}</td>
                <td>{{ item.mid }}</td>
            </tr> 
    {% endfor %}

</table>
{% endblock %}